@layer vuetify-overrides {
  code, pre, .v-code {
    font-family: var(--v-font-mono);
  }
}

:root {
  --tisza-color: rgb(102,204,255); /*cyan;*/
  --fidesz-color: rgb(255,128,0); /*orange;*/
  --dk-color: darkblue;
  --mi-hazank-color: green;
  --mkkp-color: lightgray;
  --jobbik-color: teal;
  --szolidaritas-partja-color: darkred;
  --fuggetlen-jelolt-color: #8E8AA4;
  --default-party-color: darkgray;
}

.leaflet-marker-icon.justify-center.items-center {
  display: flex;
  width: 24px !important;
  height: 24px !important;
}

.leaflet-marker-icon.county-name-marker {
  margin-left: -1rem !important;
  display: flex;
  width: min-content !important;
  height: max-content !important;

  font-size: 11px;
  font-weight: bold;
  color: white;
  text-shadow: black 0px 0px 4px;
}

.tisza-colors {
  background-color: var(--tisza-color);
}

.fidesz-colors {
  background-color: var(--fidesz-color);
}

.dk-colors {
  background-color: var(--dk-color);
  color: white;
}

.mi-hazank-colors {
  background-color: var(--mi-hazank-color);
  color: white;
}

.mkkp-colors {
  background-color: var(--mkkp-color);
}

.jobbik-colors {
  background-color: var(--jobbik-color);
  color: white;
}

.szolidaritas-partja-colors {
  background-color: var(--szolidaritas-partja-color);
  color: white;
}

.fuggetlen-jelolt-colors {
  background-color: var(--fuggetlen-jelolt-color);
  color: white;
}

.default-party-colors {
  background-color: var(--default-party-color);
}
